.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #161625;
  min-height: 100vh;
}

.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.search-container {
  background-color: #2f2f43;
  padding: 7px 16px 7px 16px;
  margin-top: 20px;
  color: #94a3b8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.search-item {
  background-color: transparent;
  border: 0px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  color: #94a3b8;
  width: 100%;
}

.search-icon {
  margin-left: 20px;
  margin-right: 15px;
}

.states-list-container {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.state-list-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 5px 30px;
  align-items: center;
  border-bottom: 1px solid #64748b;
  width: 100%;
  cursor: pointer;
  color: #ffffff;
  transition: border 0.3s;
}

.state-list-item:hover {
  border: 1px solid #94a3b8;
}

.state-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0c2d2d;
  border: 0px;
  border-radius: 4px;
}

.state-code {
  color: #facc15;
  opacity: 100%;
  width: 50%;
}

.icon-container {
  border: 1px solid #facc15;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 2px;
}

.arrow-icon {
  color: #facc15;
}

.states-link-item {
  width: 80%;
  text-decoration: none;
  color: #64748b;
}

.confirmed-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff073a;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 30px 10px 30px;
}

.confirmed-card:hover {
  background-color: #331427;
  border-radius: 5px;
}

.confirmed-icon {
  width: 24%;
}

.active-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 30px 10px 30px;
}

.active-card:hover {
  background-color: #16213e;
  border-radius: 5px;
}

.active-icon {
  width: 24%;
}

.recovered-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #28a745;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 30px 10px 30px;
}

.recovered-card:hover {
  background-color: #192829;
  border-radius: 5px;
}

.recovered-icon {
  width: 24%;
}

.deceased-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6c757d;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 30px 10px 30px;
}

.deceased-card:hover {
  background-color: #212230;
  border-radius: 5px;
}

.deceased-icon {
  width: 24%;
}

.state-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #475569;
  border-radius: 12px;
  color: #f8fafc;
  margin-top: 40px;
  margin-bottom: 40px;
}

.state-details-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 15px 5px 15px;
}

.line {
  border: 1px solid #475569;
  width: 100%;
}

@media (max-width: 767px) {
  .search-container {
    width: 80%;
    height: 48px;
  }

  .states-list-container {
    width: 75%;
  }

  .state-list {
    width: 20%;
    height: 40px;
  }

  .state-list-item {
    padding: 5px 10px 5px 10px;
  }

  .arrow-icon {
    font-size: 16px;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 40px;
    background-color: red;
  }

  .confirmed-card {
    width: 48%;
  }

  .confirmed-heading {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }

  .confirmed-count {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .active-card {
    width: 48%;
  }

  .active-heading {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }

  .active-count {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .recovered-card {
    width: 48%;
  }

  .recovered-heading {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }

  .recovered-count {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .deceased-card {
    width: 48%;
  }

  .deceased-heading {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }

  .deceased-count {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .state-name-heading {
    font-size: 16px;
  }

  .states-confirmed-heading {
    width: 130px;
    font-size: 16px;
    text-align: right;
    overflow-x: auto;
  }

  .states-active-heading {
    width: 130px;
    font-size: 16px;
    text-align: right;
  }

  .line {
    border: 1px solid #475569;
    width: 880px;
    overflow-x: auto;
    margin-top: 0px;
  }

  .states-deceased-heading {
    width: 130px;
    font-size: 16px;
    text-align: right;
  }

  .states-recovered-heading {
    width: 130px;
    font-size: 16px;
    text-align: right;
  }

  .states-population-heading {
    width: 130px;
    font-size: 16px;
    text-align: right;
  }

  .state-details-container {
    max-width: 80%;
    overflow-x: scroll;
  }

  .states-name-heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
  }

  .icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    padding: 20px;
  }

  .sorting-icon {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }

  .states-detailed-container {
    padding-left: 0px;
    min-width: 200px;
    max-width: 350px;
    /* overflow-x: auto; */
  }
}

@media (min-width: 768px) {
  .search-container {
    width: 60%;
    height: 64px;
  }

  .states-list-container {
    width: 60%;
  }

  .state-list {
    width: 12%;
  }

  .arrow-icon {
    font-size: 18px;
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 60px;
  }

  .confirmed-card {
    width: 23%;
  }

  .confirmed-heading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .confirmed-count {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }

  .active-card {
    width: 23%;
  }

  .active-heading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .active-count {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }

  .recovered-card {
    width: 23%;
  }

  .recovered-heading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .recovered-count {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }

  .deceased-card {
    width: 23%;
  }

  .deceased-heading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .deceased-count {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }

  .state-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1156px;
    border: 1px solid #475569;
    border-radius: 12px;
    color: #f8fafc;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .state-details-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 15px 5px 15px;
  }

  .table-column-container {
    width: 15%;
  }

  .states-detailed-container {
    padding-left: 0px;
    width: 100%;
  }

  .state-name-heading {
    font-size: 18px;
  }

  .states-confirmed-heading {
    font-size: 18px;
    text-align: right;
  }

  .states-active-heading {
    font-size: 18px;
    text-align: right;
  }

  .states-deceased-heading {
    font-size: 18px;
    text-align: right;
  }

  .states-recovered-heading {
    font-size: 18px;
    text-align: right;
  }

  .states-population-heading {
    font-size: 18px;
    text-align: right;
  }

  .states-name-heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
  }

  .sorting-icon {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }
}
