.desktop-header-container {
  background-color: #1e1e30;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .desktop-header-container {
    background-color: #1e1e30;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .responsive-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .route-container {
    display: none;
  }

  .link-item {
    color: #ffffff;
    text-decoration: none;
  }

  .mobile-list-item {
    list-style-type: none;
    justify-self: flex-start;
  }

  .mobile-btn {
    background-color: transparent;
    border: 0px;
    color: #ffffff;
  }

  .home-close-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
  }

  .home-about-container {
    width: 30%;
  }

  .navbar-container {
    width: 100%;
  }

  .mobile-route-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    width: 100%;
  }

  .mobile-view-container {
    padding-left: 0px;
  }

  .mobile-close-icon {
    color: #ffffff;
  }

  .website-logo {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 16px;
    line-height: 24px;
  }

  .logo-span-item {
    color: #007bff;
  }

  .mobile-icon-btn {
    list-style-type: none;
    color: #ffffff;
    background-color: transparent;
    border: 0px;
  }

  .mobile-icon {
    color: #ffffff;
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 768px) {
  /* .header-container {
    background-color: #1e1e30;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .mobile-header-container {
    display: none;
  }

  .responsive-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-item {
    color: #ffffff;
    text-decoration: none;
  }

  .route-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    width: 10%;
  }

  .list-item {
    list-style-type: none;
    color: #f8fafc;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }

  .website-logo {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 24px;
  }

  .logo-span-item {
    color: #007bff;
  }

  .mobile-view-container {
    display: none;
  }
}
